.main-title{
    border-top-color: rgb(250, 235, 215);
    background-color: 5C0F8C;
    border-bottom: antiquewhite solid;
    padding-left: 1em;
    padding-top: 2em;
    padding-bottom:1em;
    color: antiquewhite;
}